@model IEnumerable<projGennius.Models.clPublicacao>

@{
    ViewBag.Title = "Publicações Aceitas";
}

<style>
    .button-g {
        color: #fff;
        background-color: #7949EE !important;
        border: none !important;
    }
</style>



<div class="section p-2 rounded-2 p-2">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            @Html.HiddenFor(modelItem => item.codPubli);
            <div class="col-12 border border-black rounded-2 p-2 mx-0" style="margin:1% 1%">
                <h2>@Html.DisplayFor(modelItem => item.empresaCLi)</h2>
                <p>
                    @Html.DisplayFor(modelItem => item.descricao)
                </p>
                <div>
                    <div class="w-auto d-flex float-start">
                        <div class="me-2 btn btn-outline-info">
                            @Html.DisplayFor(modelItem => item.catPubli)
                        </div>
                        <div class="btn btn-outline-primary">
                            @Html.DisplayFor(modelItem => item.situacaoPubli)
                        </div>
                    </div>
                    <div class="float-end">
                        @Html.ActionLink("Perfil", "PerfilUsuAceito", "UsuarioPrestador", new { codPubli = item.codPubli }, new { @class = "btn button-g" })
                        @Html.ActionLink("Recusar", "RecusarPubli", new { id = item.codPubli }, new { @class = "btn btn-danger float-end ms-2", onClick = "return confirmarRecusa();" })
                    </div>
                </div>
                <br />
                <br />
            </div>

        }
    }
    else
    {
        <div class="container"><h2>Não há publicações</h2></div>

    }
</div>
<script>
    function confirmarRecusa() {
        return confirm('Você tem certeza que deseja recusar o serviço?')
    }
</script>