@model projGennius.Models.clUsuario

@{
    Layout = "";
    ViewBag.Title = "Usuário";
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body style="background: #7949EE; min-height: 100vh">

    <nav class="navbar navbar-white bg-white rounded-bottom" style="min-height: 60px;">

        <a class="m-auto" href="@Url.Action("Index", "Home")">
            <img src="~/Imagens/whitemode.png" style="max-height: 25px;" alt="Imagem da logotipo da Gennius" />
        </a>

    </nav>
    <section class="container body-content p-5 rounded-4 col-lg-5 col-10" style="background-color: #fff; margin-top: 15vh; margin-bottom: 15vh">
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        }
        <div class="m-auto align-items-center">
            @using (Html.BeginForm("cadastroUsu", "Home"))
            {
                @Html.AntiForgeryToken()

                <h4>Cadastre-se</h4>
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.tipo)

                    <div class="row">

                        <div class="form-group col-sm-6 col-12 md-2">
                            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                            <br />
                        </div>

                        <div class="form-group col-sm-6 col-12 md-2">
                            @Html.LabelFor(model => model.cpf, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.cpf, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.cpf, "", new { @class = "text-danger" })
                            <br />
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-sm-6 col-12 md-2">
                            @Html.LabelFor(model => model.telefone, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.telefone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.telefone, "", new { @class = "text-danger" })
                            <br />
                        </div>

                        <div class="form-group col-sm-6 col-12 md-2">
                            @Html.LabelFor(model => model.empresaCli, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.empresaCli, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.empresaCli, "", new { @class = "text-danger" })
                            <br />
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6 col-12 md-2">
                            @Html.LabelFor(model => model.login, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                            <br />
                        </div>
                        <div class="form-group col-sm-6 col-12 md-2">
                            @Html.LabelFor(model => model.senha, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.senha, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.senha, "", new { @class = "text-danger" })
                            <br />
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6 col-12 mb-2">
                            @Html.LabelFor(model => model.RepetirSenha, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.RepetirSenha, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RepetirSenha, "", new { @class = "text-danger" })
                            <br />
                        </div>
                    </div>


                    <br />

                    <div class="row d-flex align-items-center justify-content-end">
                        <div class="text-end w-auto">
                            @Html.ActionLink("Entrar", "Login", "Home", new { area = "" }, new { @class = "pe-2" })
                        </div>
                        <div class="text-end w-auto">

                            <input type="submit" style="color: white; background-color: #5CE1E6; border: none;" class="button button-a button-lg button-rounded me-3 rounded-3 p-2 float-end" value="Cadastrar" />
                        </div>
                    </div>

                </div>
            }
        </div>


    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
